body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
}
nav {
    width: 200px;
    background-color: #FFFFFF;
}
nav h1 {
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li button {
    width: 100%;
    display: block;
}
main {
    margin-left: 20px;
}
main input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
main h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
main p {
    color: #888;
    margin-bottom: 20px;
}
main ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}
main ul li {
    margin-right: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}
.playlists {
    padding: 20px;
}

.playlists h2 {
    color: #000000;
}

.playlists ul {
    list-style: none;
    padding: 0;
}

.playlists ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.playlists ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.playlists button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlists button img {
    width: 20px;
    height: 20px;
}
.container > nav {
    background-color: #F5F2F8;
}
.container > nav > p {
    background-color: #A238FF;
    padding: 10px; 
    color: white;
    font-family: 'Orev Edge Extra Bold', sans-serif;
}
nav > p {
    background-color: #A238FF;
    padding: 10px; 
    color: white;
    border-radius: 10px; 
}

nav > p > button {
    background-color: #8131C9;
    color: white;
    border-radius: 10px; 
    border: 2px solid #FDFCFE; 
    margin-top: 10px; 
    padding: 10px; 
}

nav > p > button:hover {
    background-color: #5a1a8e; 
}
.playlists ul li img {
    width: 50px; 
    height: 50px; 
}
button {
    cursor: pointer;
   
}
.playlists .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlists .header > h2 {
    margin-right: 10px; 
}

.playlists .header > button {
    cursor: pointer;
}
.custom-button {
    cursor: pointer;
    background-color: transparent;
    border: none; 
    text-align: left; 
    padding-left: 10px; 
    font-size: 20px; 
}
h1 {
    font-family: 'arial black', sans-serif;
    font-size: 36px;
}
h3 {
    font-family: 'arial black', sans-serif;
    font-size: 50px;
}
input[type="text"] {
    border-radius: 8px; 
    padding: 10px; 
}
.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6); 
}

.menu-button:hover {
    color: black; 
}

.menu-button::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: gray;
    transition: width .3s;
}

.menu-button:hover::after {
    width: 100%; 
    margin-top: 5px; 
}

.menu-button.selected {
    font-weight: bold; 
    color: black;
}

.menu-button.selected::after {
    width: 100%;
    background: purple; 
}
.custom-button.selected {
    color: purple; 
}
.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f3f3f3;
}

.song-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.album-art {
    width: 50px;
    height: 50px;
}

.song-info {
    flex-grow: 1;
    text-align: left;
}

.song-name {
    font-size: 1.2em;
    color: black;
}

.artist-name {
    font-size: 0.8em;
    color: darkgray;
}

.song-controls i {
    margin: 0 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-play {
    color: purple;
    font-size: 1.5em;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 5px;
    background-color: lightgray;
    position: relative;
    order: 2; 
}

.song-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1; 
}

.progress-bar .progress {
    height: 5px;
    background-color: #1DB954;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.settings-controls i {
    margin: 0 15px;
    cursor: pointer;
}
footer {
    position: absolute;
    bottom: 0;
}
