.corazon-rojo {
    color: red; /* Cambia el color a rojo */
}
body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
}
nav {
    width: 200px;
    background-color: #FFFFFF;
}
nav h1 {
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li button {
    width: 100%;
    display: block;
}
main {
    margin-left: 20px;
}
main input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
main h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
main p {
    color: #888;
    margin-bottom: 20px;
}
main ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}
main ul li {
    margin-right: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}
.playlists {
    padding: 20px;
}

.playlists h2 {
    color: #000000;
}

.playlists ul {
    list-style: none;
    padding: 0;
}

.playlists ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.playlists ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.playlists button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlists button img {
    width: 20px;
    height: 20px;
}
.container > nav {
    background-color: #F5F2F8;
}
.container > nav > p {
    background-color: #A238FF;
    padding: 10px; 
    color: white;
    font-family: 'Orev Edge Extra Bold', sans-serif;
}
nav > p {
    background-color: #A238FF;
    padding: 10px; 
    color: white;
    border-radius: 10px; 
}

nav > p > button {
    background-color: #8131C9;
    color: white;
    border-radius: 10px; 
    border: 2px solid #FDFCFE; 
    margin-top: 10px; 
    padding: 10px; 
}

nav > p > button:hover {
    background-color: #5a1a8e; 
}
.playlists ul li img {
    width: 50px; 
    height: 50px; 
}
button {
    cursor: pointer;
   
}
.playlists .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlists .header > h2 {
    margin-right: 10px; 
}

.playlists .header > button {
    cursor: pointer;
}
.custom-button {
    cursor: pointer;
    background-color: transparent;
    border: none; 
    text-align: left; 
    padding-left: 10px; 
    font-size: 20px; 
}
h1 {
    font-family: 'arial black', sans-serif;
    font-size: 36px;
}
h3 {
    font-family: 'arial black', sans-serif;
    font-size: 50px;
}
input[type="text"] {
    border-radius: 8px; 
    padding: 10px; 
}
.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6); 
}

.menu-button:hover {
    color: black; 
}

.menu-button::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: gray;
    transition: width .3s;
}

.menu-button:hover::after {
    width: 100%; 
    margin-top: 5px; 
}

.menu-button.selected {
    font-weight: bold; 
    color: black;
}

.menu-button.selected::after {
    width: 100%;
    background: purple; 
}
.custom-button.selected {
    color: purple; 
}
.music-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 768px;
    background-color: var(--tempo-colors-background-neutral-secondary-default);
    bottom: 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--tempo-colors-border-neutral-primary-default);
    height: var(--layout-player-height);
    left: 0px;
    padding-inline-start: var(--tempo-space-spacing-l);
    padding-inline-end: var(--tempo-space-spacing-l);
    position: fixed;
    right: 0px;
}

.song-info {
    display: flex;
    align-items: center;
}

.album-cover {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.song-details {
    display: flex;
    flex-direction: column;
}

.song-title, .artist-name {
    margin: 0;
    font-size: 12px;
}

.song-controls, .extra-controls {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.song-controls i, .extra-controls i {
    margin: 0 5px;
    cursor: pointer;
}

.progress-bar {
    display: flex;
    align-items: center;
    width: 50%;
}

.progress-container {
    flex-grow: 1;
    height: 5px;
    background-color: #444;
    margin: 0 10px;
    position: relative;
}

.progress {
    height: 50%;
    background-color: #1db954;
    width: 0;
}

.current-time, .total-time {
    font-size: 12px;
}



.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    display: inline-block;
    width: 200px; /* Ajusta el tamaño según sea necesario */
    margin: 10px;
    border-radius: 15px; /* Hace los bordes ovalados */
    overflow: hidden; /* Asegura que el contenido no se desborde fuera de los bordes redondeados */
    border: none; /* Elimina el borde del botón */
    padding: 0; /* Elimina el padding del botón */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es un botón */
    background: none; /* Elimina el fondo del botón */
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card p {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Cambia el color del texto según sea necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 90%; /* Ajusta el ancho según sea necesario */
    font-weight: bold; /* Hace el texto en negrita */
    font-size: 18px;
}

.card:hover {
    opacity: 0.7; /* Hace que la card se vuelva opaca al pasar el cursor */
}